################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APPHDotNetCore/.vs
/APPHDotNetCore/APPHDotNetCore.Shared/bin/Debug/net8.0
